@font-face {
    font-family: 'WantedSans';
    src: url(../../assets/fonts/WantedSans-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'WantedSans';
    src: url(../../assets/fonts/WantedSans-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'WantedSans';
    src: url(../../assets/fonts/WantedSans-SemiBold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'WantedSans';
    src: url(../../assets/fonts/WantedSans-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'WantedSans';
    src: url(../../assets/fonts/WantedSans-ExtraBold.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'WantedSans';
    src: url(../../assets/fonts/WantedSans-Black.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'WantedSans', sans-serif !important;
    overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
}